@import url('https://fonts.googleapis.com/css?family=Poppins:20');

body{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	background-color: #424242;
	background-attachment: fixed;

}

header{

	position: sticky;
		top: 0;
		left: 0;
		z-index: 100;
	max-width: 1200px;
	margin: 20px auto;
	padding: 10px;
	background: #fff;
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.logo{
	color: #424242;
	height: 60px;
	font-size: 36px;
	line-height: 60px;
	padding: 0 20px;
	text-align: center;
	box-sizing: border-box;
	float: left;
	font-weight: 700;
	text-decoration: none;
}
nav{
	float: right;
}



.clearfix{
	clear: both;
}


nav ul{
	margin: 0;
	padding: 0;
	display: flex;
}

nav ul li{
	list-style: none;
}

nav ul li a{
	display: block;
	margin: 10px 0;
	padding: 10px 20px;
	text-decoration: none;
	color: #262626;
}

nav ul li a.active,
nav ul li a:hover{
	background: #424242;
	color: #fff;
	transition: 0.5s;
}

#showcase {
  min-height: 450px;
  color: #fff;
  text-align: center;
}

.btn {
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666;
  border-radius: 50px;
  margin: 0.5em 0;
}

.btn:hover {
  background: #eaeaea;
  color: #333;
  transition: 1s;
}

#seção-a {
  background: #eaeaea;
  color: #333;
  padding-bottom: 2em;
}

#showcase .bg-image {
	position: sticky;
		top: 0;
		left: 0;
		z-index: 100;
  	position: absolute;
  	background: #424242
    
 	background-position: center;
 	background-repeat: no-repeat;
  	background-size: cover;
  	width: 100%;
  	height: 450px;
  	z-index: -1;
 	opacity: 0.4;
}

.ex{

}

#showcase h1 {
	font-size: 80px;
  padding-top: 0px;
  padding-bottom: 10;
}

#showcase p{
	font-size: 20px;
}

#showcase .content-wrap,
#section-a .content-wrap {
  padding: 0 1.5em;
}

.content-wrap{
    grid-column: 2/4;
  }

  #seção-a {
  background: #eaeaea;
  color: #333;
  padding-bottom: 2em;
}

@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 40em)) 1fr;
  }
}
@media(max-width: 1200px){
	header{
		margin: 20px;
	}
}

@media(max-width: 768px){
	.menu{
		display: block;
		width: 40px;
		height: 40px;
		margin: 10px;
		float: right;
		cursor: pointer;
		text-align: center;
		font-size: 30px;
		color: #424242;
	}
	.menu:before{
		content: '\f0c9';
		font-family: fontAwesome;
		line-height: 40px;

	}
	.menu.active:before{
		content: '\f00d';
		font-family: fontAwesome;
		line-height: 40px;

	}
	nav{
		display: none;
	}
	nav.active{
		display: block;
		width: 100%;
	}
	nav.active ul{
		display: block;
	}

	nav.active ul li a{
		margin: 0;
	}
}
